header {
  width: 100%;
  height: 100vh;
  background: url("../assets/img/pexels-eberhard-grossgasteiger-1421903.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a.homeReturn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

header a.homeReturn div.fName span {
  opacity: 0.4;
  font-size: 45px;
  letter-spacing: -6px;
}

header a.homeReturn div.fName span:nth-child(1),
header a.homeReturn div.fName span:nth-child(2) {
  opacity: 1;
}

header a.homeReturn div.fName span:nth-child(3),
header a.homeReturn div.fName span:nth-child(4) {
  opacity: 0.8;
}

header a.homeReturn div.fName span:nth-child(5),
header a.homeReturn div.fName span:nth-child(6) {
  opacity: 0.6;
}

header a.homeReturn div.role {
  margin-left: 8px;
  font-size: calc(10.5 / 30 * 45px);
  opacity: 0.2;
}

header ul.linkList {
  display: flex;
  list-style: none;
  color: white;
}

header ul.linkList li a {
  text-decoration: none;
  color: white;
}

header ul.linkList li.active a {
  text-decoration: underline;
}

header ul.linkList li::after {
  content: "-";
  margin: 0 10px;
}

header ul.linkList li:last-child::after {
  content: "";
}
